// 공통 scss

// 아코디언
.accordion-list {
  .accordion-header {
    cursor: pointer;
  }
  .accordion-body {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 6px; /*스크롤바의 너비*/
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); /*스크롤바의 색상*/
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd; /*스크롤바 트랙 색상*/
}

// 메인 scss
html,
body {
  -webkit-overflow-scrolling: touch;
  &.scroll-disable {
    overflow: hidden !important;
    &.responsive-scroll {
      @media (min-width: 961px) {
        overflow: visible !important;
      }
    }
  }
}

// 달력
.ui-datepicker {
  padding: rem(10px) !important;
  @media (max-width: $mo-l) {
    width: 16em !important;
  }
  &.ui-widget.ui-widget-content {
    margin-top: rem(10px);
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    .ui-icon {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat !important;
      background-position: 0 0 !important;
      background-size: cover !important;
    }
  }
  .ui-datepicker-prev {
    .ui-icon {
      background-image: url('../images/icon/icon-arrow-prev-bk-32x32.png') !important;
    }
  }
  .ui-datepicker-next {
    .ui-icon {
      background-image: url('../images/icon/icon-arrow-next-bk-32x32.png') !important;
    }
  }
  .ui-widget-header {
    background-color: #fff;
    border: 0;
  }
  .ui-datepicker-title {
    font-size: rem(12px);
    select {
      width: calc(45% - 10px) !important;
      margin: 0 rem(5px) !important;
      padding: rem(5px) rem(10px) !important;
      border: 1px solid #ddd !important;
      font-size: rem(14px) !important;
    }
  }
  .ui-state-default {
    border: 0 !important;
    background-color: #fff !important;
    text-align: center !important;
    &.ui-state-active {
      background-color: $primary !important;
      border-color: transparent !important;
      color: #fff !important;
    }
  }
}
