<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../../includes/resources.html')
  </head>
  <style>
    .btn-open {
      display: block;
      margin: 20px;
      border-bottom: 1px solid #ddd;
      font-size: 20px;
      font-weight: bold;
    }
  </style>

  <body>
    <div id="container">
      <button type="button" class="btn-open" onclick="openLayerPopup('layerPopup')">1.기본팝업(click)</button>
    </div>

    <div class="layer-popup" id="layerPopup">
      <div class="popup-wrapper">
        <div class="cell">
          <div class="popup-container large">
            <div class="popup-content">
              <button type="button" class="btn-close">닫기</button>
              <div class="popup-body">팝업내용</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
