@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Spoqa Han Sans Neo Regular.otf') format('opentype'),
    url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../fonts/Spoqa Han Sans Neo Regular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeo-Regular.eot') format('eot');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Spoqa Han Sans Neo Bold.otf') format('opentype'),
    url('./fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../fonts/Spoqa Han Sans Neo Bold.woff2') format('woff2'),
    url('./fonts/SpoqaHanSansNeo-Bold.eot') format('eot');
}
