@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Spoqa Han Sans Neo Regular.otf') format('opentype'), url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Spoqa Han Sans Neo Bold.otf') format('opentype'), url('./fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
}
